@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bangers&family=Cedarville+Cursive&family=Comfortaa&family=Jura:wght@600&display=swap');



*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Cedarville', cursive;
    font-family: 'jura', cursive;*/
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    /* background-color: palegoldenrod; */
    font-family: 'Baloo Bhai 2', cursive;
}

/* Heading Section */
#heading-section{
    background-color: rgb(22, 21, 21);
    color: white;
    display: flex;
    height: 250px;
    margin: 0px;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'jura', cursive;   
}

#head-in{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading{
    margin: 10px 0px;
    font-size: 25px;
}

#path{
    margin: 5px;
    font-size: 18px;
}

#path a {
    text-decoration: none;
    color: white;
}

#path a:hover {
    color: red;
    text-decoration: underline;
}

#path img {
    height: 20px;
    filter: invert();
    margin: -3px;
}

/* Our Story Section */
#aboutstory{
    margin: 0;
    padding: 0;
}

#aboutin{
    margin: 20px 45px;
    margin-bottom: 100px;
    padding: 2px 2px;
    border: 2px solid yellow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#about{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#about img{
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    z-index: -1;
}

#story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

#story h2{
    font-size: 35px;
    color: yellowgreen;
}

#story p{
    text-align: center;
    padding: 15px 40px;
    font-size: 18px;
    font-family: 'Jura';
    color: black;
    font-weight: bold;
    word-spacing: 1px;
}

/* Our Team Section */
#team{
    margin: 0;
    padding: 0;
}

#teamin{
    margin: 30px 45px;
    display: flex;
    flex-direction: column;
}

#teamtag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: bold;
    color: yellowgreen;
    letter-spacing: 2px;
}

#ourteam{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team-card{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
    margin-bottom: 5%;
    font-family: 'Jura';
}

.team-card img{ 
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.team-card img:hover{ 
    opacity: 0.8;
}

.team-card h2{
    font-size: 20px;
    margin: 10px auto;
    font-weight: bold;
}

.team-card span{
    font-size: 14px;
    color: seagreen;
}

.team-card p{
    color: seagreen;
    font-size: 16px;
    margin: 35px auto;
}


